body {
  font: 300 18px/1.6 "Source Sans Pro",sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
}

h2, li {
  list-style-type: none;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  text-align: left;
}

h2 {
  font-weight: 200;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
}
.calculator::before, .calculator::after {
  content: " ";
  display: table;
}
.calculator::after {
  clear: both;
}

.viewer {
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.5em;
  height: 3em;
}

button {
  border: 0;
  background: #f0f0f0;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
}
button:hover {
  background: #d0d0d0;
}



